
<h4>Please Enter Your Name: </h4>

<form action="/new_player" method="post">
	Name: <input type='text' name='player_name'/>
	<br><br>
	<h4> How much would you like to bet for?</h4>
	Enter Amount ($10 - $1000): <input type='text' name='amount'/>
	<br><br>
	<input type ='submit' class ='btn'>
</form>


