
<h4> Hello <%= session[:player_name]%>, How much would you like to bet for?</h4>

<form action='/start_game' method='get'>
	Enter Amount ($10 - $1000): <input type='text' amount='amount'/>
	<br><br>
	<input type ='submit' class ='btn'>
</form>


